<!DOCTYPE html>

<link rel="stylesheet" th:href="@{/css/index.css}">
<link rel="stylesheet" th:href="@{/css/bootstrap-slider.css}">
<script th:src="@{/js/index.js}"></script>
<script th:src="@{/js/chart.min.js}"></script>
<script th:src="@{/js/jquery-3.1.1.min.js}"></script>

<div class="slide__main-button">
    <div class="button unpush" id="button_0">
    </div>
    <div class="button unpush" id="button_1">
    </div>
    <div class="button unpush" id="button_2">
    </div>
</div>
<div class="slide__main-block">
    <div class="line">
    </div>
    <div class="line">
    </div>
    <div class="line">
    </div>
    <div class="line">
    </div>
</div>

<div class="slide__sub-block" id="target">
</div>

<div class="slide__sub-block">
    <div id="plate"></div>
    <div style="width: 50%; text-align: center">
        <span class="timer js-timer" style="font-size: 100px">05:00</span>
    </div>
</div>

<div class="slide__sub-block">
    <div class="sub-block__part">
        <div>
            <div>송신부 초기값</div>
            <input id="init_value" value="0">
        </div>
        <label for="number_1">목표 dx 최소값</label>
        <input class="number_input" id="dx" type="number" value="70">
        <div class="dx_result"></div>
    </div>
    <div class="sub-block__part">
        <div>첫번째 지점</div>
        <label for="number_1">투과율[%]</label>
        <input class="number_input" id="number_1" type="number" value="65">

        <div class="value" id="value_1"></div>
    </div>
    <div class="sub-block__part">
        <div>두번째 지점</div>
        <label for="number_2">투과율[%]</label>
        <input class="number_input" id="number_2" type="number" value="48.5">

        <div class="value" id="value_2"></div>

    </div>
    <div class="sub-block__part">
        <div>세번째 지점</div>
        <label for="number_3">투과율[%]</label>
        <input class="number_input" id="number_3" type="number" value="20">

        <div class="value" id="value_3"></div>
    </div>
    <div class="sub-block__part">
        <div>수신부</div>
        <button class="number_input" id="target_value" type="number">시작</button>
        <div id="target_value_result"></div>
        <div id="target_value_status"></div>
    </div>
</div>
<div class="slide__main-chart">
    <canvas id="myChart" width="800px" height="200px"></canvas>
</div>
