<!DOCTYPE html>

<link rel="stylesheet" th:href="@{/css/index.css}">
<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
<link rel="stylesheet" th:href="@{/css/bootstrap-slider.css}">
<script th:src="@{/js/jquery-3.1.1.min.js}"></script>
<script th:src="@{/js/index.js}"></script>
<script th:src="@{/js/chart.min.js}"></script>
<script th:src="@{/js/bootstrap.js}"></script>

<div class="slide__main-button">
    <div class="line hide">
    </div>
    <div class="button unpush" id="button_0" style="background-color: rgb(255,0,0)">
    </div>
    <div class="line hide">
    </div>
    <div class="button unpush" id="button_1" style="background-color: rgb(0,255,0)">
    </div>
    <div class="line hide">
    </div>
    <div class="button unpush" id="button_2" style="background-color: rgb(0,0,255)">
    </div>
    <div class="line hide">
    </div>
</div>
<div class="slide__main-block">
    <div class="line">
    </div>
    <div class="button hide">
    </div>
    <div class="line">
    </div>
    <div class="button hide">
    </div>
    <div class="line">
    </div>
    <div class="button hide">
    </div>
    <div class="line">
    </div>
</div>

<div class="slide__sub-block" id="target">

</div>

<div class="slide__sub-block">
    <div style="width: 20%; text-align: center">
        <button class="btn border-dark border-3" type="number"
                style="width: 50%; height: 100%; font-size: 25px">
            <span id="round">1</span>
            <span>단계</span>
        </button>
    </div>
    <div style="width: 50%; text-align: center">
        <span class="timer js-timer" style="font-size: 70px">03:00</span>
    </div>
    <div style="width: 15%; text-align: center">
        <button class="btn border-dark border-3" id="target_value" type="number"
                style="width: 50%; height: 100%; font-size: 30px">시작
        </button>
    </div>
    <div style="width: 15%; text-align: center">
        <a href="color" target="_blank" style="color: black">
            <button class="btn border-dark border-3" type="number"
                    style="width: 50%; height: 100%; font-size: 15px">
                색상조합
            </button>
        </a>
    </div>
</div>
<div id="plate" class="hidden"></div>

<div class="slide__sub-block">
    <div class="sub-block__part">
        <div>
            <div>송신부 초기값</div>
            <input id="init_value" value="0">
        </div>
        <label for="number_1">목표 dx 최소값</label>
        <input class="number_input" id="dx" type="number" value="70">
        <div class="dx_result"></div>
    </div>
    <div class="sub-block__part">
        <div>첫번째 지점</div>
        <label for="number_1">투과율[%]</label>
        <input class="number_input" id="number_1" type="number" value="65">

        <div class="value" id="value_1" style="font-size: 20px"></div>
    </div>
    <div class="sub-block__part">
        <div>두번째 지점</div>
        <label for="number_2">투과율[%]</label>
        <input class="number_input" id="number_2" type="number" value="48.5">

        <div class="value" id="value_2" style="font-size: 20px"></div>

    </div>
    <div class="sub-block__part">
        <div>세번째 지점</div>
        <label for="number_3">투과율[%]</label>
        <input class="number_input" id="number_3" type="number" value="20">

        <div class="value" id="value_3" style="font-size: 20px"></div>
    </div>
    <div class="sub-block__part">
        <div>수신부</div>
        <div id="target_value_result"></div>
        <div id="target_value_status"></div>
    </div>
</div>
<div class="slide__main-chart">
    <canvas id="myChart" width="800px" height="150px"></canvas>
</div>
